.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #e0e0e0;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    display: flex;
}

.home {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #fff9e3;
}

.section1 {
    flex-grow: 1;
    text-align: center;
}

.section2 {
    flex-basis: 20%;
    display: flex;
    column-gap: 20px;
    margin-bottom: 15px;
}

.section {
    flex-basis: 50%;
    background-color: #feeab8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #feeab8;
}

aside {
    flex-grow: 1;
    text-align: center;
    padding-top: 15px;
    background-color: #ddeccb;
}

footer {
    background-color: #e0e0e0;
    flex-basis: 10%;
    display: flex;
    justify-content: space-between;
}

.footer-box {
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
}